<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %> - Berrypaw</title>
<meta name="og:site_name" content="Berrypaw">
<meta name="og:title" content="<%= title %>">
<meta name="og:description" content="<%= description %>">
<meta name="theme-color" content="#1387f8">
<meta name="robots" content="noindex, nofollow">

<!-- Stylesheets -->
<link rel="stylesheet" href="/styles/variables.css">
<link rel="stylesheet" href="/styles/main.css">
<link rel="stylesheet" href="/styles/menu.css">