<div class="menu">
    <div style="float: left;">
        <h1>Berrypaw</h1>
    </div>

    <ul style="float: right;">
        <li><a href="/">Home</a></li>
        <li><a href="/github">Github</a></li>
    </ul>
</div>