<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('components/head.ejs', {
            title: "Home",
            description: "Berrypaw is a big nightmare."
        }) %>
    </head>

    <header>
        <%- include('components/menu.ejs') %>
    </header>

    <body>
        <h1>Berrypaw Status</h1>
        <p>Coming Soon!</p>
    </body>
</html>